<%- include('../partials/head', { pageTitle: t('errors.serverError') }) %>
<section>
  <h1><%= t('errors.serverError') %></h1>
  <p class="muted"><%= t('errors.generic') %></p>
</section>
<%- include('../partials/foot') %>
