<%- include('../partials/head', { pageTitle: t('errors.csrf') }) %>
<section>
  <h1><%= t('errors.csrf') %></h1>
  <p><a href="/" role="button"><%= t('common.back') %></a></p>
</section>
<%- include('../partials/foot') %>
